<body style="height:1500px">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
            <%= link_to image_tag("brand.png", size: "50x50"), '/' %>
        </div>
        <ul class="nav navbar-nav">
          <li><%= link_to "Users", users_path%></li>
          <% if !logged_in? %> 
            <li><%= link_to "Articles", articles_path%></li> 
            <li><%= link_to "Categories", categories_path%></li>
          <% end %>
          <% if logged_in? %>
          <li class="dropdown right-padding">
            <a href="/articles" class="dropbtn">Articles<span class="caret"></span></a>
            <ul class="dropdown-content nav navbar-nav" style="background-color: #333">
              <li><%= link_to "List articles", articles_path %></li>
              <li><%= link_to "New article", new_article_path %></li>
            </ul>
          </li>
          <li class="dropdown right-padding">
            <a href="/categories" class="dropbtn">Categories<span class="caret"></span></a>
            <ul class="dropdown-content nav navbar-nav" style="background-color: #333">
              <li><%= link_to "List categories", categories_path %></li>
              <% if current_user.admin? %><li><%= link_to "New category", new_category_path %></li><%end%>
            </ul>
          </li>
          <% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <% if logged_in? %> 
            <li><%= link_to "Log out", logout_path, method: :delete %></li>
            <li class="dropdown right-padding">
              <a href="#" class="dropbtn" >Your account <%= "Admin" if current_user.admin? %><span class="caret"></span></a>
              <ul class="dropdown-content nav navbar-nav" style="background-color: #333">
                <li><%= link_to "Edit your account", edit_user_path(current_user) %></li>
                <li><%= link_to "View your profile", user_path(current_user) %></li>
                <li></li>
              </ul>
            </li>
            <% else %>
            <li><%= link_to "Log in", login_path%></li>
            <li><%= link_to "Sign up", signup_path%></li>
            <% end %>
        </ul>
      </div>
    </nav>
</body> 
<br/>
<br/>