<!DOCTYPE html>
<html>
  <head>
    <title>Zawor-blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <style>
    #body{
      background-repeat: no-repeat;
      background-size: 100%;
      background-image: url('https://www.sacredheartschoolweymouth.org/wp-content/uploads/2014/10/geo-bg.jpg')
      }

  </style>

  <body id="body">
    <%= render 'layouts/messages' %>
    <%= render 'layouts/navigation' %>
    </br>

    <%= yield %>
    
  </body>
</html>
